input[type="file"] {
    display: block;
}

.imageThumb {
    max-height: 75px;
    max-width:  75px;
    border: 2px solid;
    padding: 1px;
    cursor: pointer;
}

.pip {
    display: inline-block;
    margin: 10px 10px 0 0;
    max-height: 10px;
}

.remove {
    display: block;
    background: #444;
    border: 1px solid black;
    color: white;
    margin-top: 2.5px;
    text-align: center;
    cursor: pointer;
}

.remove:hover {
    background: rgb(185, 99, 99);
    color: rgb(245, 231, 231);
}